<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
th{
 background-color: #ccc;
 height: 30px
}
</style>
<!-- script + src 不能在内部写 js 代码-->
<script type="text/javascript" src="../0528/ajax.js"></script>
<script type="text/javascript" src="vue.min.js"></script>
<script type="text/javascript">
	function upload() {
		var fd = new FormData(f1);
		var url = "uploadSsq.do";
		post(url, fd, function(text) {
			alert(text);
		});
	}
	
	function query() {
		var url = "querySsq.do";
		post(url, null, function(text) {
			// json 字符串转成 js 数组
			// eval
			var arr = JSON.parse(text);
			vue.$data.list = arr;
		});
	}
</script>

</head>
<body>
	<form id="f1">
		<input type="file" name="file">
		<button type="button" onclick="upload()">上传</button>
		<button type="button" onclick="query()">查询</button>
	</form>
	<table id="tab" border="1" width="100%">
		<tr>
			<th>id</th>
			<th>opendate</th>
			<th>num</th>
			<th>redone</th>
			<th>redtwo</th>
			<th>redthree</th>
			<th>redfour</th>
			<th>redfive</th>
			<th>redsix</th>
			<th>blue</th>
			<th>sale</th>
			<th>firstprize</th>
			<th>secondeprize</th>
		</tr>
		<tr v-for="ssq in list">
			<td v-for="s in ssq">{{s}}</td>
		</tr>
	</table>
	<script type="text/javascript">
		var vue = new Vue({
			el : "#tab",
			data : {
				list : []
			}
		});
	</script>

</body>
</html>