<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="../js/vue.min.js"></script>
<script type="text/javascript" src="../js/axios.min.js"></script>
<style type="text/css">
span {
	color:red;
}
</style>
</head>
<body>
	<form id="ff" action="reg.do">
		账号:<input name="ename" v-model="user.ename"><span id="ename"></span><br>
		昵称:<input name="cname" v-model="user.cname"><span id="cname"></span><br>
		密码:<input name="password" v-model="user.password"><span id="password"></span><br>
		邮箱:<input name="email" v-model="user.email"><span id="email"></span><br>
		电话:<input name="phone" v-model="user.phone"><span id="phone"></span><br>
		性别:<input name="sex" v-model="user.sex"><span id="sex"></span><br>
		<button @click="reg" type="button">注册</button>
	</form>
	<script type="text/javascript">
		var v = new Vue({
			el : "#ff",
			data : {
				user : {}
			},
			methods : {
				reg(){
					axios.get("reg.do",{
						params : this.user
					}).then( res=>{
						for ( var e of res.data.data){
							// 获取报错字段对应的 span 对象
							var span = document.getElementById(e.field);
							// 设置span对象的内部文本
							span.innerText = e.defaultMessage;
						}
					});
					// 扩展, 如果填写正确, 请删除之前的报错信息
				}
			}
		});
	</script>
</body>
</html>



<!-- 
页面跳转

GET /demo/reg.html HTTP/1.1
Host: 127.0.0.1
Connection: keep-alive
Cache-Control: max-age=0
Upgrade-Insecure-Requests: 1
User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.113 Safari/537.36
Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9
Sec-Fetch-Site: none
Sec-Fetch-Mode: navigate
Sec-Fetch-User: ?1
Sec-Fetch-Dest: document
Accept-Encoding: gzip, deflate, br
Accept-Language: zh-CN,zh;q=0.9
If-Modified-Since: Tue, 18 Aug 2020 07:55:09 GMT


GET /demo/reg.do?email=ddd HTTP/1.1
Host: 127.0.0.1
Connection: keep-alive
Accept: application/json, text/plain, */*
User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.113 Safari/537.36
Sec-Fetch-Site: same-origin
Sec-Fetch-Mode: cors
Sec-Fetch-Dest: empty
Referer: http://127.0.0.1/demo/reg.html
Accept-Encoding: gzip, deflate, br
Accept-Language: zh-CN,zh;q=0.9
email: ddd


 -->





