<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 是当前接口的命名空间
	xml 中的类路径 可以使用  ctrl + 鼠标键 ==> 编程手型鼠标  ==> 对了 
-->
<mapper namespace="com.yc.damai.dao.DmCategoryMapper">

	<!-- 
		id 是该select标签的唯一标识
		resultType 表示返回的结果映射到的实体类的类型s
	 -->
	<select id="selectAll" resultType="com.yc.damai.bean.DmCategory">
		select * from dm_category
	</select>
	
	<!-- 参数传入格式:  #{实体对象的属性名} -->
	<insert id="insert">
		insert into dm_category values( null, #{cname} , #{pid} )
	</insert>
	
	<update id="update">
		update dm_category set cname = #{cname} , pid = #{pid} 
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from dm_category where id = #{id}
	</delete>
	
</mapper>